# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

.DS_Store

bower_components/*
sites/all/themes/ntb/.sass-cache
.sass-cache
node_moudles/*
