.view-blog-authored {
  height: 60px;

  .views-field-name {
    text-align:left;
    width: calc(100% - 100px);
    @include inline-block();

    .field-content {
      @include vertical-align();
    }
  }

  .views-field-picture {
    overflow: hidden;
    @include border-radius(30px);
    @include inline-block();
    width: 60px;
  }
}

.node-type-article .content {
  .links {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .links {
    float: right;
    width: 100%;

    li {
      @include buttons();
    }
  }
}

.pane-blog-related {
  padding-top: 20px;

  .pane-title {
    @include flag();
    margin-top: -7px;
  }
}
