.view-blog-authored {
  height: 60px;

  .views-field-name {
    text-align:left;
    width: calc(100% - 100px);
    display: inline-block;

    .field-content {
      @include vertical-align();
    }
  }

  .views-field-picture {
    overflow: hidden;
    border-radius: 30px;
    display: inline-block;
    width: 60px;
  }
}

.node-type-article .content {

    .links {
      margin: 0;
      padding: 0;
      list-style: none;
    }


    .links {
      float: right;
      width: 100%;

      li {
        @include buttons();
      }
    }
}
