#header {
  display: none;
}

#logo {
  margin: auto;
  width: 462px;
  max-width: 100%;
  display: block;
  text-align: center;
  margin-top: 20px;
}

.mobile-logo {
  line-height: 50px;
  color: $primary-blue;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  @include inline-block;

  span {
    color: $secondary-blue;
  }
}

.fa-icon {
  font-size: 26px;
  display: block;
  background: none;
  border: 0;
  color: $secondary-blue;
  line-height: 1;
  padding: 0;
  top: 11px;

  &:hover {
    color: #37746e;
  }
}

.cart {
  position: absolute;
  right: 15px;
}

.search-toggle {
  position: absolute;
  right: 50px;
  padding: 0;
}

.user-icon {
  display: none;
}

.navbar-form.navbar-search {
  display: none;
  width: 100%;
  border: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  background: white;
  top: 50px;
  left: 0;
  background: rgba(white, 0.6);

  .form-group {
    margin-bottom: 0;
  }

  .form-control {
    border: 1px solid $secondary-blue;

    &:focus {
      @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba($secondary-blue, 0.6));
    }
  }

  .btn {
    display: none;
  }
}

@include breakpoint($screen-sm) {
  #header {
    display: block;
  }

  .mobile-logo {
    color: #fff;
  }

  .fa-icon {
    margin: 0 5px;

    &.cart {
      margin-right: 8px;
    }
  }

  .user-icon {
    display: block;
    position: relative;
    float: right;
  }

  .cart {
    position: relative;
    right: auto;
    float: right;
  }

  .search-toggle {
    position: relative;
    float: right;
    right: 0;
  }

  .navbar-form.navbar-search {
    top: 50px;
    width: auto;
    right: 45px;
    @include background-image(linear-gradient(#b3cdb8, $primary-peach));
    left: auto;
    padding: 5px;
    border-radius: 0 0 5px 5px;
  }

  .search-block {
    float: right;
    display: inline-block;
  }
}
