#header {
  display: none;
}

#logo {
  margin: auto;
  width: 410px;
  display: block;
}

.mobile-logo {
  line-height: 50px;
  color: $primary-blue;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  @include inline-block;

  span {
    color: $secondary-blue;
  }
}

.mobile-cart {
  position: absolute;
  right: 65px;
  top: 7px;
  font-size: 26px;
}

@include breakpoint($screen-sm) {
  #header {
    display: block;
  }

  .mobile-logo {
    color: #fff;
  }

  .mobile-cart {
    display: none;
  }
}
