#logo {
  margin: auto;
  width: 500px;
  max-width: 100%;
  // display: none;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 10px;
  padding: 20px 30px;
}

.icon-menu-fixed,
.icon-menu {
  // top: 7px;
  // right: 15px;
  // position: absolute;
  // width: auto;
  // margin: 0;

  li {
    display: inline-block;
  }
}

.custom-user-menu {
  display: flex;
  flex-direction: row;
}

.mobile-logo {
  line-height: 50px;
  color: $primary-blue;
  color: darken($primary-blue, 22%);
  margin: 0 auto;
  width: 100%;
  text-align: center;
  display: inline-block;

  span {
    color: $secondary-blue;
  }
}

.fa-icon {
  font-size: 1.625rem;
  background: none;
  border: 0;
  color: $secondary-blue;
  line-height: 1;
  padding: 0;
  display: inline-block;

  i {
    padding: 5px;
  }

  &:hover {
    color: $primary-blue;
  }
}

.search-block,
.cart {
  display: inline-block;
}

.user-icon,
.cart-icon,
.search-toggle {
  display: block;
  position: relative;
  float: right;
}

.user-icon {
  display: none;
}

// @include breakpoint($screen-sm) {
  #logo {
    display: block;
  }

  .mobile-logo {
    display: none;
  }

  .fa-icon {

    &.cart {
      margin-right: 5px;
    }
  }

  .icon-menu-fixed {
    top: 3px;
  }

  .user-icon {
    display: block;
  }

  .icon-menu {
    position: absolute;
    top: 10px;
    right: 15px;
  }

  .icon-menu .fa-icon.active {
    background: linear-gradient($secondary-blue, $primary-blue);
    color: $white;
    border-radius:5px 5px 0 0;
  }

  .search-block {
    float: right;
    display: inline-block;
  }
// }
