.navbar-fixed-top {
  margin-top: 0;

  .navbar-collapse {
    max-height: 100%;
    @include background-image(linear-gradient($primary-blue, $primary-peach));

    &.in {
      height: 100vh;
    }
  }
}

.navbar-default {
  background-color: $white;
  border: none;

  .navbar-nav > li > a {
    width: 100%;
    color: #333;
    font-size: 20px;
    padding: 20px 25px;
    @include inline-block;
  }

  .navbar-nav > .active > a {
    background: rgba($white, 0.5);

    &:hover,
    &:focus {
      background: rgba($white, 0.5);
    }
  }

  .navbar-toggle {
    &:hover, &:focus {
      background-color: rgba($primary-blue, 0.5);
    }
    .icon-bar {
      background-color: $secondary-blue;
    }
  }
}

.navbar-nav > li > a {
  text-align: center;
  text-transform: lowercase;
}

.navbar-toggle {
  border: 0;
  position: absolute;
  margin: 0 auto;
  right: 15px;
  top: 10px;


}

.navbar-form.navbar-search {
  width: 100%;
  border: 0;
  margin: 7px 0;
  @include inline-block;

  .btn {
    display: none;
  }
}

.nav>li>a:hover,
.nav>li>a:focus {
  background: lighten($primary-blue, 20%);
}

.user-nav {
  @include background-image(linear-gradient(to right, $primary-blue, white));
}

#navigation {
  display: none;
}


@include breakpoint($screen-sm) {
  #navigation {
    display: block;

    #main-menu {
      @include inline-block;
    }
  }

  .navbar-nav {
    float: none;
  }

  .navbar-default {
    text-align: center;
  }

  .navbar-fixed-top {
    margin-top: -50px;
    height: 50px;
    overflow: hidden;
    @include background-image(linear-gradient(to right, $primary-blue, white));
    @include transition(all 0.3s ease-out);

    &.visible {
      margin-top: 0;
    }
  }

  .navbar-fixed-top {
    @include background-image(linear-gradient($primary-blue, #b3cdb8));

    .navbar-collapse {
      @include background-image(none);
      display: inline-block !important;
      width: calc(100% - 175px);
    }
  }

  .navbar-form.navbar-search {
    width: auto;
    float: right;
  }

  .navbar-default.navbar-fixed-top .navbar-nav > li > a {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  #secondary-menu {
    float: right;
  }
}
