nav {
  display: flex;
  flex-direction: row;

  width: 100%;
  margin-bottom: 0;

  border: none;
  background-color: $white;
  justify-content: space-between;
  align-items: center;

  @supports(display: grid) {
    grid-column: 12 span;
  }



  & > .active > a {
    color: $text-dark;
    background: transparent;
  }
}

.nav-primary-wrapper {
  flex: 1 1 auto;
}

.nav-secondary-wrapper {
  margin-right: 15px;
  flex: 0 0 auto;
}

.primary-nav > li > a,
.dropdown-menu > li > a {
  font-size: 1.125rem;
  font-weight: 300;

  display: inline-block;

  width: 100%;
  padding: 10px 20px;

  transition: all 0.2s ease-in-out;
  text-transform: lowercase;

  color: $link-color;

  font-family: $font-family-serif;

  &:hover,
  &:focus {
    text-decoration: none;

    color: $link-color-hover;
  }
}

.navbar-nav {
  display: flex;
  flex-direction: row;

  margin: 0;
  padding: 0;

  &.primary-nav {
    flex-wrap: wrap;
  }

  & > li {
    display: inline-block;

    margin: 0;
    padding: 0;
  }

  & > li.hidden {
    display: none;
  }

  & > li > ul {
    display: none;
  }

  & > .open > a {
    &,
    &:hover,
    &:focus {
      color: $link-color-hover;
      background: #fff;
    }
  }
}

.navbar-header {display: none;}

.dropdown-menu {
  position: absolute;
  z-index: 1;

  display: none;

  min-width: 200px;
  max-width: 50%;
  padding: 0 1rem;

  text-align: center;

  border: 1px solid $blackish;
  border-radius: 0;
  background: #fff;


  & > li.leaf,
  & > li.expanded {
    list-style: none;
  }

  & > li > a:hover,
  & > li > a:focus {
    color: $link-color-hover;
    background: $white;
  }

  nav & > li > a {
    font-size: 16px;

    padding: 5px;
  }
}

.dropdown {
  & > a::after {
    @include fa-icon();
    margin-left: 5px;

    content: $fa-var-angle-down;
  }

  &.open > a::after,
  & > a.open::after {
    content: $fa-var-angle-up;
  }
}


#navigation {
  display: block;
}

.custom-user-menu > li {
  position: relative;

  .dropdown {}
}

:not(.js) .navbar-nav li:hover > .dropdown-menu {
  display: block;
}

.dropdown-menu-right {
  right: 0;
}

// .custom-user-menu .user-dropdown {
//   display: block;
// }

// nav .navbar-nav > li > a {
//   padding: 10px 15px;
//   color: $link-color;
//
//   &:hover {
//     color: $link-color-hover;
//   }
// }

// nav .navbar-nav
// }
//
// nav .navbar-nav .open .dropdown-menu > li > a {
//   color: $link-color;
//
//   &:hover {
//     color: $link-color-hover;
//   }
// }
//
// nav .navbar-nav > .active > a {
//   &,
//   &:hover,
//   &:focus {
//     background: transparent;
//   }
// }
//
// nav .navbar-nav.inline {
//   width: auto;
// }
//
// nav {
//   text-align: center;
//
//   .navbar-collapse {
//     background: $white;
//   }
// }
// nav .navbar-nav > li > a {
//   &:hover,
//   &:focus {
//     color: $link-color-hover;
//   }
// }

#secondary-menu {
  display: none;
}
