.view-blog {
  .views-row {
    width: 100%;
    margin-bottom: 2rem;
    padding-bottom: 2rem;

    border-bottom: 0.5px solid #f3f3f3;
    grid-column: 12 span;
    grid-column-gap: 2rem;
  }

  .field-name-field-tags .field-item {
    display: inline-block;

    margin-right: 15px;
  }
}

.node-type-article {
  .panel-pane {
    padding: 0;
  }

  .row {
    grid-column-gap: 2rem;
  }
}

.view-blog-authored {
  // height: 60px;

  // .views-field-name {
  //   text-align:left;
  //   width: calc(100% - 100px);
  //   display: inline-block;
  //
  //   .field-content {
  //     @include vertical-align();
  //   }
  // }

  .views-field-picture {
    display: inline-block;
    overflow: hidden;

    max-width: 200px;

    border-radius: 200px;
  }

  .views-field-name {
    display: none !important;
  }
}

.pane-ntb-blog-meta-ntb-blog-meta {
  margin-bottom: 1em;
  padding-bottom: 1em;
}

ul.blog-meta {
  display: flex;

  margin: 0;

  list-style: none;
  align-items: center;
  flex-wrap:wrap;

  justify-content: center;
  max-width: 300px;
  align-content: center;
  margin: auto;

  li {
    font-size: 0.825rem;

    display: inline-block;

    // &:after {
    //   display: inline-block;
    //
    //   margin: 0 10px;
    //
    //   content: '|';
    // }
    //
    // &:last-child:after {
    //   content:'';
    // }
  }

  & > li {
    display: block;
    width: 100%;
  }

  span {
    color: #878B8F;
  }

  @include breakpoint($screen-sm) {
    li:after {
      content: '';
    }
  }

  .view {
    display: inline-block;
  }

  .view-content {
    display: block;
  }

  .view-content > div {
    display: flex;
    align-items: center;
  }

  .views-field {
    display: inline-block;

    margin-right: 10px;
  }
}

.node-type-article {
  .content {
    p {
      font-size: 1.5em;

      margin-bottom: 1.5em;
    }

    .links {
      margin: 0;
      padding: 0;

      list-style: none;
    }

    .links {
      float: right;

      width: 100%;

      li {
        @include inline-button();
        font-size: 0.6rem;
      }
    }
  }

  .pane-content {
    .image.align-left {
      display: inline-block;
      float: left;

      padding: 10px 10px 00;
    }

    .image.align-center {
      display: block;

      padding: 10px 10px 0 10px;

      text-align:center;
    }

    .image.align-right {
      display: inline-block;
      float: right;

      padding: 10px 0 0px 10px;
    }
  }
}

.page-blog .col-sm-2.g-st-1 {
  grid-row: 2;

  @include breakpoint($screen-sm) {
    grid-row: 1;
  }
}

.page-blog,
.node-type-article {
  .region-content {
    padding: 0 30px;
  }
}
