.view-blog {
  .views-row {
    width: 100%;
    grid-column: 12 span;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    border-bottom: 0.5px solid $secondary-blue;
  }

  .field-name-field-tags .field-item {
    display: inline-block;
    margin-right: 15px;
  }
}
