/* Add to Cart popup styling */
.add-cart-message-wrapper {
  left: 0;
  right: 0;
  margin: auto;
  max-width: 80%;
  border-radius: 5px;
  border: 0;
  box-shadow: none;
  text-transform: lowercase;
  color: #333;
  top: 60px;
  max-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;

  .product-quantity,
  .product-total-incl-tax {
    display: none;
  }

  .product-image {
    max-width: 150px;
    margin: 0 auto;
  }

  @include breakpoint($screen-sm) {
    max-width: 400px;

    .product-image {
      max-width: 250px;
    }
  }
}

.add-to-cart-close {
  right: 0;
  margin-right: -10px;
  position: absolute;
}

.new-item-details {
  flex-shrink: 1;
  overflow: hidden;

  & > div {
    margin-right: 15px;
    display: block;
    text-align: center;
  }

  p {
    margin-top: 0;
  }
}



.added-product-message {
  text-align: center;
}

.option-button-wrapper {
  margin-top: 20px;
  text-align: center;

  a {
    color: $link-color;

    &:hover {
    }
  }

  .form-submit {
    display: inline-block;
    width: 100%;
  }

  @include breakpoint($screen-xs) {
    .form-submit {
      width: auto;
    }
  }
}

.new-item-details,
.option-button-wrapper {
  float: none;
}
