div.messages.commerce-add-to-cart-confirmation {
  // width: 500px;

  .message-inner .added-product-title,
  .view-confirm-message-product-display .view-content .views-field-commerce-total .field-content {
    color: $primary-blue;
  }
}

div.messages.commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content {
  float: left;
}

div.messages.commerce-add-to-cart-confirmation {
  margin-left: -30% !important;
  top: 50px;
  text-align: center;
  width: 60%;

  .message-inner {

    .added-product-title,
    .button-wrapper,
    .view-content {
      width: 100%;
      position: relative;
      float: left;
      font-weight: normal;
    }

    .button-wrapper {
      background: lighten($primary-blue, 20%);
      padding: 15px 15px 5px 15px;

      .button {
        @include buttons();
        width: 100%;

        a, span {
          font-weight: normal;
          width: 100%;
        }
      }

      .button.checkout {
        background: $primary-blue;

        &:hover {
          background: $secondary-blue;
        }
      }
    }

    .view-content {
      .views-field-commerce-product {
        font-size: 20px;
        margin-bottom: 15px;
        color: $secondary-blue;
      }

      .field {
        text-align: center;

        .views-label {
          font-weight: normal;
          text-transform: uppercase;
        }
      }

    }

    @include breakpoint($screen-sm) {
      .button-wrapper {
        float: right;
        width: auto;
        max-width: 35%;
        background: none;

        .button {
          margin: 10px 0;

          a, span {
            padding: 6px 0;
          }
        }
      }

      .view-content {
        width: auto;
        float: left;
      }

      .view-confirm-message-product-display {
        clear: none;
      }
    }
  }
}

/* Add to Cart popup styling */
.add-cart-message-wrapper {
  left: 10%;
  right: 10%;
  border-radius: 5px;
  border: 0;
  box-shadow: none;
  text-transform: lowercase;
  color: #333;
}

.new-item-details > div {
  margin-right: 15px;
  @include inline-block();
}

.added-product-message {
  text-align: center;
}

.option-button-wrapper {
  margin-top: 20px;

  a {
    color: #000;

    &:hover {

    }
  }
}
