.checkout-buttons .checkout-cancel,
.checkout-buttons .checkout-back,
#commerce-braintree-tr-redirect-form > div > a {
  background: #91cdc5;
  color: #000;
  padding: 2px 6px 3px;

  &:hover {
    background: #50a89f;
    text-decoration: none;
    color: #000;
  }
}

.page-checkout {
  .button-operator {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    @include inline-block();
  }

  legend {
    margin-bottom: 0;
  }

  fieldset {
    margin-bottom: 22px;
  }
}


.checkout-review {
  width: 100%;
}

.commerce-line-item-actions {
  .form-submit {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}
.form-item-customer-profile-billing-commerce-customer-address-und-0-name-line,
.form-item-customer-profile-shipping-commerce-customer-address-und-0-name-line {
  width: 100%;
}

.component-type-commerce-price-formatted-amount {
  td {
    padding: 8px;
  }
}
.page-checkout table {
  margin-bottom: 1em;
}

.page-checkout label {
  font-weight: normal;
}

table.checkout-review .pane-title td {
  padding: 0.4em 1em;
  font-weight: normal;
  text-transform: uppercase;
}

table.checkout-review .pane-data-full {
  padding: 0.4em 1em;
  font-weight: normal;
}

#commerce-braintree-tr-redirect-form > div > a {
  border-radius: 5px;
  margin-top: 15px;
  width: 100%;
  text-transform: lowercase;
  text-align: center;
  @include inline-block();
}

ul.commerce-checkout-progress {
  display: block;

  li {
    margin-left: 0px;

    &:after {
      @include fa-icon();
      content: $fa-var-angle-double-right;
      margin-left: 10px;
      margin-right: 5px;
    }

    &:last-child {
      &:after {
        content: '';
      }
    }

    &.visited {
      color: darken($secondary-blue, 20%);
    }

    &.active {
      font-weight: normal;
      color: $secondary-blue;

    }
  }

  .page-cart & li {
    color: #000;
  }
}


@include breakpoint($screen-sm) {
  .checkout-buttons .checkout-cancel {
    margin-left: 0;
  }

  .page-checkout .button-operator {
    width: auto;
    margin: 0 5px 10px;
  }

  #commerce-braintree-tr-redirect-form > div > a {
    margin-top: 0;
    margin-left: 15px;
    width: auto;
    margin-bottom: 10px;
  }
}
