.checkout-buttons .checkout-cancel,
.checkout-buttons .checkout-back,
.checkout-buttons .checkout-continue,
#commerce-braintree-tr-redirect-form > div > a {
  // background: #91cdc5;
  // color: $link-color;
  // padding: 2px 6px 3px;
  //
  // &:hover {
  //   background: #50a89f;
  //   text-decoration: none;
  //   color: $link-color;
  // }
  @include inline-button();
}

.page-checkout {
  .button-operator {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    display: inline-block;
  }

  legend {
    margin-bottom: 0;
  }

  fieldset {
    margin-bottom: 22px;
  }
}


.checkout-review {
  width: 100%;
}

.commerce-line-item-actions {
  .form-submit {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}
.form-item-customer-profile-billing-commerce-customer-address-und-0-name-line,
.form-item-customer-profile-shipping-commerce-customer-address-und-0-name-line {
  width: 100%;
}

.component-type-commerce-price-formatted-amount {
  td {
    padding: 8px;
  }
}
.page-checkout table {
  margin-bottom: 1em;
}

.page-checkout label {
  font-weight: normal;
}

table.checkout-review .pane-title td {
  padding: 0.4em 1em;
  font-weight: normal;
  text-transform: uppercase;
}

table.checkout-review .pane-data-full {
  padding: 0.4em 1em;
  font-weight: normal;
}

#commerce-braintree-tr-redirect-form > div > a {
  // border-radius: 5px;
  margin-top: 15px;
  width: 100%;
  text-transform: lowercase;
  text-align: center;
  display: inline-block;
}

ul.commerce-checkout-progress {
  display: block;

  li {
    margin-left: 0px;

    &:after {
      @include fa-icon();
      content: $fa-var-angle-double-right;
      margin-left: 10px;
      margin-right: 5px;
    }

    &:last-child {
      &:after {
        content: '';
      }
    }

    &.visited {
      color: darken($secondary-blue, 20%);
    }

    &.active {
      font-weight: normal;
      color: $secondary-blue;

    }
  }

  .page-cart & li {
    color: $link-color;
  }
}


@include breakpoint($screen-sm) {
  .checkout-buttons .checkout-cancel {
    margin-left: 0;
  }

  .page-checkout .button-operator {
    width: auto;
    margin: 0 5px 10px;
  }

  #commerce-braintree-tr-redirect-form > div > a {
    margin-top: 0;
    margin-left: 15px;
    width: auto;
    margin-bottom: 10px;
  }
}


@supports(display: grid) {
  .commerce-line-item-views-form {
    grid-column: span 12;

    table {
      width: 100%;
    }
  }

  .view-commerce-cart-summary .view-content > table {
    grid-column: span 12;
    min-width: 100%;
  }
}

.page-checkout {
  .form-type-select,
  .form-type-textfield,
  .braintree-form .form-item {
    display: block;
    padding: 10px;
    // border: 1px solid $primary-blue;
    margin: 1rem 0;
    // border-radius: 3px;

   & > label {
      display: block;
      float: left;
      margin-top: -1.25rem;
      height: 1.125rem;
      padding: 0 5px;
      font-size: 0.875rem;
      overflow: hidden;
      background: $white;
    }

    input[type="text"],
    input[type="date"],
    input[type="datetime"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="time"],
    input[type="url"],
    input[type="password"],
    textarea,
    select {
      width: 100%;
      display: block;
      outline: none;
      border: none;
      font-size: 1rem;
      padding: 0.3125rem;
      height: 1.625rem;
      background: rgba($blackish, 0.25);
      border: 1px solid $blackish;
      background: transparent;
    }
  }

  .braintree-hosted-field {
    border: 0;
    background: rgba($primary-blue, 0.25);
    border: 1px solid $blackish;
    background: transparent;
  }

  .braintree-form #edit-commerce-payment-payment-details-braintree-cc-expiration .form-type-item,
  .braintree-form #edit-payment-details-braintree-cc-expiration .form-type-item,
  .braintree-form #edit-expiration .form-type-item {
    padding: 0.3125rem;
    margin: 1rem 0;
  }

  tr.odd .form-item, tr.even .form-item {
    white-space: normal;
  }

  tr.odd, tr.even, legend {
    border: 0;
  }

  tr.pane-title {
    background: $secondary-blue;
    color: $white;
  }

  fieldset:not(.checkout-buttons) {
    border: 1px solid $blackish;
    padding: 1rem;

  legend {
      background: $white;
      padding: 0 5px;
      width: auto;
    }
  }

  @include breakpoint($screen-sm) {
    .braintree-form .commerce-month-year-divider {
      margin: auto 0.5rem;
    }
  }
}

// .checkout-review {
//   .pane-data {
//     padding-left: 1rem;
//   }
// }
.page-cart,
.page-checkout {
  #content {
    padding: 0 1rem;
  }
}
