.pane-block-2 .pane-content > div {
  margin-bottom: 30px;

  text-align: center;
}

.pane-front-tiles {
  h3 {
    @include flag();
  }

  .view-footer {
    text-align: right;
  }
}

.front h3.pane-title {
  margin-top: 12px;
}

.timeline-Header-title {
  display: none;
}

.pane-block-4 .pane-title:before {
  @include fa-icon();
  content: $fa-var-twitter;
}

.pane-instagram-block-instagram-block {
  h2.pane-title {
    margin-left: -5px;
  }

  .pane-title:before {
    @include fa-icon();
    content: $fa-var-instagram;
  }

  .group {
    float: left;

    max-width: 33.33333%;
    height: auto;
    padding: 0 5px 5px 5px;
  }

  img {
    max-width: 100%;
    height: auto !important;
  }

  .pane-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
}


.view-front-tiles {
  .views-row {
    .views-field-title {
      font-size: 1.125rem;

      display: block;

      padding: 10px 0;
    }
  }
}
