.view-marquee {
  .slider-image {
    height: 225px;
    background-size: cover;
    background-position: center center;
    display: block;
  }
  .flexslider {
    border: 0;
  }

  .title {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
  }

  .marquee-body {
    font-size: 18px;
  }

  .flex-control-nav {
    width: auto;
    bottom: 0;
    top: 235px;
    right: 0;
  }

  .flex-control-paging li a {
    background: $primary-blue;
    @include box-shadow(none);

    &.flex-active {
      background: $primary-peach;
    }
  }

  @include breakpoint($screen-sm) {
    .slider-image,
    .content {
      height: 350px;
    }

    .flex-control-nav {
      top: 360px;
    }

    .title {
      margin-top: 50px;
    }

    .marquee-body {
      padding: 0 30px;
    }
  }
}
