@keyframes spin  {
  0% {
    transform: rotate(0);
  }
  100% {
    transform:rotate(360deg);
  }
}

.view-marquee {
  .fa-spinner:before {
  animation: spin 2s infinite linear;
  }

  .flexslider:hover .flex-direction-nav a {
    display: none;
  }

  .slider-image {
    background-size: cover;
    background-position: center center;
    display: block;

    &:after {
      padding-top: 40%;
      display: block;
      content: "";
      width: 100%;
    }
  }

  .flexslider {
    border: 0;
    margin: 0 0 15px;
  }

  .flex-control-nav {
    width: auto;
    right: 0;
  }

  .flex-control-paging li a {
    background: $primary-blue;
    box-shadow: none;

    &.flex-active {
      background: $primary-peach;
    }
  }

  .fa-spinner {
    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -8px;
      margin-left: -8px;
    }

    &.fa-2x:before {
      margin-top: -16px;
      margin-left: -16px;
    }
  }
}
@include breakpoint($screen-xs) {
}

@include breakpoint($screen-sm) {
  .view-marquee {
    .flexslider:hover .flex-direction-nav a {
      display: block;
    }
  }
}

@include breakpoint($screen-md) {

}
