.view-product-type-taxonomy {
  text-align: center;

  .active {
    color: $link-hover-color;
  }

  .views-row {
    text-align: center;
  }

  @include breakpoint($screen-xs) {
    .views-row {
      display: inline-block;
      text-transform: lowercase;
      font-size: 1.25rem;
      margin: 0 25px;
    }
  }

  @include breakpoint($screen-sm) {
    .views-row {
      display: block;
      text-align: center;
      margin: 10px 0;
    }
  }
}

.view-shop {
  .js & .views-row {
    opacity: 0;
  }

  .view-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .title {
    text-align: center;
  }

  @include breakpoint($screen-xs) {
    a {
      text-align: left;
      padding-left: 10px;
    }
  }

  @include breakpoint($screen-sm) {
    a {
      padding-left: 0;
      text-align: center;
    }
  }

  @include breakpoint($screen-md) {
  }

  @include breakpoint($screen-lg) {
  }
}
