.view-shop {
  .views-row {
    border-bottom: 0.5px solid $border-light;
    margin-bottom: 15px;
  }
  .title {
    text-align: center;
  }

  @include breakpoint($screen-xs) {
    border: 1px solid red;
    a {
      text-align: left;
      padding-left: 10px;
    }
  }

  @include breakpoint($screen-sm) {
    a {
      padding-left: 0;
      text-align: center;
    }
  }

  @include breakpoint($screen-md) {
    border: 1px solid yellow;
    .views-row {
      width: 30%;
      float: left;
    }
  }

  @include breakpoint($screen-lg) {
    border: 1px solid green;
  }

}
