.view-product-type-taxonomy {
  text-align: center;
  border: 1px solid red;

  .active {
    color: $link-hover-color;
  }

  .view-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .views-row {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 5px;
  }

  @include breakpoint($screen-xs) {
    .views-row {
      display: inline-block;
      text-transform: lowercase;
      font-size: 1.25rem;
      width: 33%;
        //
        // @supports(display: grid) {
        //   grid-column: span 4;
        //   margin: 0;
        // }
    }
  }

  @include breakpoint($screen-sm) {
    .view-content {
      flex-direction: column;
    }

    .views-row {
      display: block;
      text-align: center;
      margin: 10px 0;
      width: 100%;

      // @supports(display: grid) {
        // grid-column: span 12;
        // margin: 0;
      // }
    }
  }
}

.view-shop {
  .js & .views-row {
    opacity: 0;
  }

  // .view-content {
  //   width: 100%;
  //   display: flex;
  //   flex-direction: row;
  //   flex-wrap: wrap;
  // }

  .title {
    text-align: center;
  }

  @include breakpoint($screen-xs) {
    a {
      text-align: left;
      padding-left: 10px;
    }
  }

  @include breakpoint($screen-sm) {
    a {
      padding-left: 0;
      text-align: center;
    }
  }

  @include breakpoint($screen-md) {
  }

  @include breakpoint($screen-lg) {
  }
}
