.page-user {
  .tabs {
    text-align: center;
  }

  .view {
    padding: 0 15px;

    .view {
      padding: 0;
    }
  }

  .field-type-commerce-customer-profile-reference {
    margin-bottom: 15px;
  }
}
