$primary-blue: #91cdc5;
$secondary-blue: #50a89f;
$primary-peach: #ffcc99;
$pink: #fbbc9b;
// $teal: #93ccc5;
$white: #fff;
$border-light: #eee;
$text-dark: #333;

$brand-primary: $secondary-blue;
$font-family-sans-serif: quicksand, 'quicksand', helvetica, arial, sans-serif;
$font-family-serif: 'have_heart_oneregular', Georgia, "Times New Roman", Times, serif;
$bp-large: 1200px;
$nav-break: 768px;
$font-size-base: 16px;

$border-default: 0.5px solid $primary-blue;

$table-border-color: $primary-blue;
$table-bg-accent: lighten($primary-blue, 30%);
$table-bg-hover: lighten($primary-blue, 20%);

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
// $screen-xs:                  480px !default;
// $screen-sm:                  768px !default;
// $screen-md:                  992px !default;
// $screen-lg:                  1200px !default;

// So media queries don't overlap when required, provide a maximum
// $screen-xs-max:              ($screen-sm-min - 1) !default;
// $screen-sm-max:              ($screen-md-min - 1) !default;
// $screen-md-max:              ($screen-lg-min - 1) !default;

// @include breakpoint($screen-xs) {
//   border: 1px solid red;
// }
//
// @include breakpoint($screen-sm) {
//   border: 1px solid blue;
// }
//
// @include breakpoint($screen-md) {
//   border: 1px solid yellow;
// }
//
// @include breakpoint($screen-lg) {
//   border: 1px solid green;
// }
