#mimemail-body #table {
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #91cdc5), color-stop(100%, #b3cdb8));
    background-image: -moz-linear-gradient(#91cdc5, #b3cdb8);
    background-image: -webkit-linear-gradient(#91cdc5, #b3cdb8);
    background-image: linear-gradient(#91cdc5, #b3cdb8);
    border-spacing: 0
}
#mimemail-body #logo {
    text-align: center;
    padding: 15px;
    margin: 15px;
    margin-bottom: 0;
    background: #fff
}
#mimemail-body #logo-inner {
    width: 60%;
    margin: 0 20%
}
#mimemail-body #footer {
    margin-top: 15px;
    padding: 15px;
    text-align: center
}
#mimemail-body #main {
    margin: 15px;
    background: #fff;
    margin-top: 0;
    padding: 15px
}
#mimemail-body img {
    max-width: 100%;
    min-height: auto;
    width: auto;
    height: auto
}
