.view-front-tiles {
  .views-row {
    position: relative;
  }

  .title {
    position: absolute;
    width: 100%;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($secondary-blue, 0.5);
    opacity: 0;
    @include transition(opacity 0.5s ease-in-out);

    a {
      color: #fff;
      text-decoration: none;
      vertical-align: middle;
      position: absolute;
      left: 0;
      width: 100%;
      top: 50%;
      margin-top: -15px;
    }
    // &:before {
    //   content: '';
    //   width: 100%;
    //   height: 100%;
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   right: 0;
    //   bottom: 0;
    //   background: rgba($secondary-blue, 0.8);
    // }
  }

  &:hover {
    .title {
      opacity: 1;
    }
  }
}
