$primary-blue: #91cdc5;
$secondary-blue: #50a89f;

$brand-primary: $secondary-blue;
$font-family-sans-serif: quicksand, 'quicksand', helvetica, arial, sans-serif;
$font-family-serif: cinzel, 'cinzel', Georgia, "Times New Roman", Times, serif;
$bp-large: 1200px;
