.line {
  display: block;
  padding-bottom: 15px;

  .img,
  .title {
    display: block;
    text-align: center;
  }

  @include breakpoint(960px) {
    .img {
      width: 100px;
      height: 100px;
    }
  }
}

@include breakpoint($screen-xs) {
  .line {
    float: left;
    height: 350px;
    overflow: hidden;
    margin-bottom: 30px;
  }
}

@include breakpoint($screen-sm) {
  .line {
    float: left;
    height: 200px;

    .img {
      width: 100px;
      height: 100px;
      margin-right: 10px;
    }

    .title {
      text-align: left;
      width: calc(100% - 110px);
      height: auto;
    }

    h3 {
      // padding-left: 10px;
      // @include vertical-align();
    }

    .img,
    .title {
      @include inline-block;
      float: left;
    }
  }
}

@include breakpoint($screen-md) {

}

@include breakpoint($screen-lg) {

}
