.line {
  display: block;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content:(center);

  .img,
  .content {
    display: block;
    text-align: center;
  }

  @include breakpoint(960px) {
    .img {
      width: 100px;
      height: 100px;
    }
  }
}

@include breakpoint($screen-xs) {
  .line {
    float: left;
    // height: 200px;
    flex-direction: row;

    .img {
      width: 100px;
      height: 100px;
      margin-right: 10px;
    }

    .content {
      text-align: left;
      width: calc(100% - 110px);
      height: auto;
    }

    h3 {
    }

    .img,
    .content {
      display: inline-block;
      float: left;
    }
  }
}

@include breakpoint($screen-sm) {

}

@include breakpoint($screen-md) {

}

@include breakpoint($screen-lg) {

}
