.easyzoom {
  max-width: 100%;
}

.easyzoom-flyout img {
  max-width: none;
}

.easyzoom-thumbnails {
  a {
    width: 50px;
    height: 50px;
    display: block;
    float: left;
    margin: 10px;


    &:first-child {
      margin-left: 0;
    }
  }
}

.field-name-commerce-price {
  font-size: 2.25rem;
  text-align: center;
}

.add-to-cart-block {
  border: 0;
  font-size: 1.25rem;
  margin-bottom: 15px;

  .form-submit {
    padding: 6px 20px;
    width: 100%;
    @include inline-button();
  }
}

.node-type-product-display #page-title {
  text-align: center;
}

.node-type-product-display #product-title {
    display: none;
}

.field-name-field-ingredients {
  .field-label {
    text-transform: lowercase;
    text-align: center;
    display: inline-block;

  }
  .field-item {
    display: inline-block;
  }

  a {
    color: $link-color;

    &:hover {
      text-decoration: none;
    }
  }
}

.product-body .nav {
  li {
    display: inline-block;

    &.active {
      a {
        color: $link-color;
      }
    }

    a {
      text-transform: uppercase;

      &:hover,
      &:focus {
        background: none;
        text-decoration: underline;
      }
    }
  }
}

.node-type-product-display {
  .content {
    text-align: center;
  }


  p {
    text-align: left;
  }

  .product-body .field {
    margin-bottom: 2rem;
  }
}

@include breakpoint($screen-sm) {
  .add-to-cart-block {
    & > div {
      display: inline-block;
    }

    .form-submit {
      font-size: 1rem;
      width: auto;
      margin-bottom: 0;
    }
  }

  .node-type-product-display #page-title {
    display: none;
  }

  .node-type-product-display #product-title {
    text-align: left;
    display: block;
  }

  .easyzoom-thumbnails a {
    width: 60px;
    height: 60px;
  }

  .field-name-field-ingredients {
    .field-label {
      width: 100%;
    }

    .field-item {
      margin-bottom: 5px;
    }
  }

  .field-name-commerce-price {
    font-size: 1.625rem;
  }

  .field-name-commerce-price,
  .field-name-field-product {
    display: block;
    width: 100%;

    & > div {
      width: auto;
      float: left;
    }
  }

  .product-body .item-list {
    width: 100%;
    text-align: left;
    li {
      margin: 0;
    }
  }
}


@include breakpoint($screen-xs) {
}

@include breakpoint($screen-sm) {
}

@include breakpoint($screen-md) {
}

@include breakpoint($screen-lg) {
}
