.tile {
  position: relative;
  margin-bottom: 15px;

  a {
    text-align: center;
  }
}

@include breakpoint($screen-xs) {
  .tile {
    @include inline-block;

    .img,
    .title {
      float: left;
      display: inline;
    }

    .img {
      width: 30%;
    }
    .title {
      position: absolute;
      width: 70%;
      height: 100%;

      a {
        text-align: left;
      }

      h3 {
        padding: 0 15px;
        @include vertical-align();
      }
    }
  }
}

@include breakpoint($screen-sm) {
  .tile {
    .img,
    .title {
      width: 100%;
      display: block;
      position: relative;
    }

    .title a {
      text-align: center;
    }
  }
}

@include breakpoint($screen-md) {
  .tile {
    .title {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      background: rgba($secondary-blue, 0.5);
      opacity: 0;
      @include transition(opacity 0.5s ease-in-out);


      a {
        text-align: center;
        color: #fff;
        text-decoration: none;
      }
    }

    &:hover {
      .title {
        opacity: 1;
      }
    }
  }
}

@include breakpoint($screen-lg) {

}
