.tile {
  position: relative;
  margin-bottom: 15px;
  border-bottom: 0.5px solid $border-light;
  padding-bottom: 15px;

  a {
    text-align: center;
  }

  h3 {
    margin-top: 11px;
    text-align: center;
  }
}

@include breakpoint($screen-xs) {
  .tile {
    @include display-flex();
    @include align-items(center);
    @include justify-content(center);

    .img,
    .title {
      float: left;
      display: inline;
    }

    .img {
      @include flex(1);
    }
    .title {
      @include flex(2);

      a {
        text-align: left;
      }
    }

    h3 {
      margin-top: 0;
      padding-left: 15px;
      text-align: left;
    }
  }

  .tile.product_display {

    .add-to-cart-block,
    .add-to-cart-block .form-submit,
    .price,
    .field-name-field-product {
      width: auto;
      margin-bottom: 0;
      @include inline-block();
    }

    h3 {
      text-align: center;
    }
  }
}

@include breakpoint($screen-sm) {
  .tile {
    @include flex-direction(column);
    // .img,
    // .title {
    //   width: 100%;
    //   display: block;
    //   position: relative;
    // }
    .title {
      @include flex(1);
    }

    .title a {
      text-align: center;
    }

    .price {
      display: block;
    }

    h3 {
      text-align: center;
    }
  }
}

@include breakpoint($screen-md) {
  .tile {
    border-bottom: 0px solid $border-light;
    padding-bottom: 0px;

    .title {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      background: rgba($secondary-blue, 0.75);
      opacity: 0;
      @include transition(opacity 0.5s ease-in-out);

      @include display-flex();
      @include align-items(center);
      @include justify-content(center);


      a,
      p,
      div {
        text-align: center;
        color: #fff;
        text-decoration: none;
      }
    }

    h3 {
      text-align: center;
    }

    &:hover {
      .title {
        opacity: 1;
      }
    }
  }
}

@include breakpoint($screen-lg) {

}
