.tile {
  position: relative;
  padding-top: 15px;
  border-bottom: 0.5px solid $border-light;
  padding-bottom: 15px;

  a {
    text-align: center;
  }

  h3 {
    margin-top: 11px;
    text-align: center;
  }
}

@include breakpoint($screen-xs) {
  .tile {
    display: flex;
    align-items: center;
    justify-content: center;

    .img,
    .title {
      float: left;
      display: inline;
    }

    .img {
      flex: 1;
    }
    .title {
      flex: 1;

      a {
        text-align: left;
      }
    }

    h3 {
      margin-top: 0;
      padding-left: 15px;
      text-align: left;
    }
  }

  .tile.product_display {

    .add-to-cart-block,
    .add-to-cart-block .form-submit,
    .price,
    .field-name-field-product {
      width: auto;
      margin-bottom: 0;
      display: inline-block;
    }

    h3 {
      text-align: center;
    }
  }
}

@include breakpoint($screen-sm) {
  .tile {
    height: 100%;
    flex-direction: column;

    .title {
      flex: 1;;
    }

    .title a {
      text-align: center;
    }


    h3 {
      text-align: center;
    }
  }

  .tile.product_display {
    .price {
      display: block;
    }
  }
}

@include breakpoint($screen-md) {

}

@include breakpoint($screen-lg) {

}
