html {
  font-size: 16px;
}

body {
  font-family: $font-family-sans-serif;
}

p {
  font-family: $font-family-sans-serif;
  font-weight: lighter;
}

.h1,h1{font-size:2.5rem}
.h2,h2{font-size:2.125rem}
.h3,h3{font-size:1.75rem}
.h4,h4{font-size:1.25rem}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  font-family: $font-family-serif;
}

img {
  width: auto;
  max-width: 100%;
}

img:not([data-src]):not(.image-align-left):not(.image-align-right):not(.image-align-center):not(.no-resize) {
  height: auto;
}

a {
  color: $secondary-blue;

  &:hover {
    color: $text-dark;
  }
}

.panel-pane {
  padding-bottom: 2rem;
  border-bottom: 1px solid #eee;
  margin-bottom: 2rem;
}

h3.pane-title {
  @include flag();
}

h2.pane-title {
  font-size: 2.5em;
  text-align:center;
  display: block;
}

.flex-direction-nav a {
  &:before {
    content: $fa-var-arrow-circle-left;
    @include fa-icon();
    font-size: 2.5rem;
    color: rgba($secondary-blue, 0.8);
  }

  &.flex-next:before {
    content: $fa-var-arrow-circle-right;
  }
}

#page-title {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

ul.inline li {
  padding: 0;
}

ol li a {
  word-break: break-all;
}

.region-content {
  max-width: $bp-large;
  margin: auto;

  .front & {
    max-width: 100%;
  }
}

.form-submit, .btn {
  @include inline-button();
}

tr.even,
tr.odd,
legend {
  border-bottom: $border-default;
}

tbody {
  border-top: $border-default;
}

tr.even,
tr.odd {
  background: $table-bg-accent;
}

table thead th,
.field .field-label {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 0.75rem;
}

#user-pass-reset,
#user-profile-form,
.commerce-order-commerce-order,
#user-login,
#user-register-form,
#user-pass,
.profile {
  padding: 0 15px;
}

.ajax-progress .message {
  display: none;
}

ul.primary {
  border: 0;

  li {
    a {
      text-transform: lowercase;
      background: none;
      border: 0;
      padding: 6px;

      &:hover {
        background: $secondary-blue;
        color: $link-color;
        border-radius: 5px;
      }
    }

    &.active a {
      border: 0;
    }
  }
}

#social_footer {
  text-align: center;

  li a {
    margin: 0 15px;

    &:before {
      @include fa-icon();
      color: $secondary-blue;
      content: $fa-var-facebook;
      font-size: 2.25rem;
    }

    &.tw:before {
      content: $fa-var-twitter;
    }

    &.insta:before {
      content: $fa-var-instagram;
    }

    &:hover {
      &:before {
        color: darken($secondary-blue, 15%);
        color: $primary-blue;
      }
    }
  }
}

#footer {
  padding: 50px 0 30px 0;
  margin-top: 30px;
  text-align: center;
  color: $secondary-blue;

  a {
    color: $secondary-blue;

    &:hover {
      color: darken($secondary-blue, 15%);
    }
  }
}

.line-break {
  display: block;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to right, #fff, $primary-blue,  #fff);
  border-radius: 1px;
  margin: 45px 0;
}

@include breakpoint($screen-sm) {
  #main-wrapper {
    margin-top: 0;
  }

  .form-submit {
    width: auto;
    display: inline-block;
  }

  .form-inline.form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }

  table thead th,
  .field .field-label {
    font-size: 1rem;
  }
}

.item-list .tile .title {
  font-weight: normal;
  text-align: center;
}

ul.ntb-top {
  display: flex;
  flex-direction: column;

  @include breakpoint($nav-break) {
    flex-direction: row;
  }

  @supports(display:grid) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 2rem;
    margin: 0;
    grid-column: 12 span;
  }

  &,
  & > li {
    margin: 0;
    padding: 0;
    list-style: none;
    .tile {

    }
    border-bottom: 0;

    @supports(display:grid) {
      &.ntb-top-three li {
        grid-column: 4 span;
      }
      &.ntb-top-four li {
        grid-column: 3 span;
      }
    }
  }
}

.color-primary {
  color: $primary-blue;
}

.color-secondary {
  color: $secondary-blue;
}

#logo svg {
  max-width: 100%;
  height: auto;
}

p {
  font-size: 1.125rem;
}

.form-submit {
  cursor: pointer;
}

.block-menu ul {
  padding: 0;
  margin: 0;
}

#block-menu-menu-footer-menu {
ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}
li {
    list-style: none;
    display: inline-block;
  }
}

ul.clean-list {
  li {
    margin: 0;
  }
}

table {
  width: 100%;
}


.search-container,
.cart-container {
  opacity: 0;
}

.hidden {
  display: none;
}

.fb_iframe_widget[type=button] {
  -webkit-appearance: none;

  & > span {
    vertical-align: top !important;
  }
}

.service-links {
  display: block;
  float: left;
  height: 20px;

  & > * {
    vertical-align: top !important;
  }
}

.commerce-credit-card-expiration {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.commerce-credit-card-expiration > div {
  flex: 1 1 auto;
}
