img {
  width: auto;
  max-width: 100%;
  height: auto;
}

.pane-block-1 {
  text-align: center;

  h2 {
    font-family: $font-family-serif;
    margin: auto;
  }
}

ul.inline li {
  padding: 0;
}

#navigation,
#main-wrapper {
  max-width: $bp-large;
  margin: auto;
}

#main-wrapper {
  margin-top: 50px;
}

@include breakpoint($nav-break) {
  #main-wrapper {
    margin-top: 0;
  }
}
