img {
  width: auto;
  max-width: 100%;
  height: auto;
}

.pane-block-1 {
  text-align: center;

  h2 {
    font-family: $font-family-serif;
    margin: auto;
  }
}

.flex-direction-nav a {
  &:before {
    content: '\f0a8';
    @include fa-icon();
    font-size: 40px;
    color: rgba($secondary-blue, 0.8);
  }

  &.flex-next:before {
    content: '\f0a9';
  }
}

#page-title {
  text-align: center;
}

ul.inline li {
  padding: 0;
}

#navigation,
#main-wrapper {
  max-width: $bp-large;
  margin: auto;
}

#main-wrapper {
  margin-top: 50px;
}

.form-submit {
  border: 0;
  background: transparent;
  text-align: center;
  width: 100%;
  text-transform: lowercase;
  background: $primary-blue;
  // @include background-image(linear-gradient(white, $primary-blue));
  @include border-radius(5px);

  &:hover {
    background: $secondary-blue;
  }
}

a {
  &:hover {
    text-decoration: none;
  }
}

@include breakpoint($screen-sm) {
  #main-wrapper {
    margin-top: 0;
  }

  .form-submit {
    width: auto;
    @include inline-block();
  }
}
