.fa{ display: inline-block; font-style: normal; font-variant: normal; font-weight: normal; line-height: 1; font-family: FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; }
.pull-right{ float: right; }
.fa-search::before{ content: ; }
.fa-user::before{ content: ; }
.fa-times::before{ content: ; }
.fa-shopping-cart::before{ content: ; }
.sr-only{ margin: -1px; }
@media print{
*{ text-shadow: none !important; -webkit-box-shadow: none !important; box-shadow: none !important; }
a{ text-decoration: underline; }
img{ page-break-inside: avoid; }
 h3, p{ orphans: 3; widows: 3; }
 h3{ page-break-after: avoid; }
.navbar{ display: none; }
}
*{ box-sizing: border-box; }
html{ font-family: sans-serif; line-height: 1.15; -webkit-tap-highlight-color: transparent; }
 nav{ display: block; }
body{ margin: 0px; font-family: quicksand, helvetica, arial, sans-serif; font-size: 1rem; font-weight: 400; line-height: 1.5; color: rgb(33, 37, 41); text-align: left; background-color: rgb(255, 255, 255); }
 h3{ margin-top: 0px; margin-bottom: 0.5rem; }
p{ margin-top: 0px; margin-bottom: 1rem; }
 ul{ margin-bottom: 1rem; }
 ul{ margin-top: 0px; }
 ul ul{ margin-bottom: 0px; }
a{ color: rgb(60, 127, 120); text-decoration: none; background-color: transparent; }
a:not([href]):not([tabindex]){ color: inherit; text-decoration: none; }
img{ vertical-align: middle; border-style: none; }
 a, button, input{ }
button, input{ margin: 0px; font-family: inherit; font-size: inherit; line-height: inherit; }
button, input{ overflow: visible; }
button{ text-transform: none; }
 [type="submit"], button, html [type="button"]{ -webkit-appearance: button; }
[type="search"]{ outline-offset: -2px; -webkit-appearance: none; }
 .h3, h3{ margin-bottom: 0.5rem; font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; }
.h3, h3{ font-size: 1.75rem; }
.container-fluid{ margin-right: auto; margin-left: auto; padding-right: 15px; padding-left: 15px; width: 100%; }
.row{ display: -webkit-box; margin-right: -15px; margin-left: -15px; }
 .col-sm-12{ position: relative; width: 100%; min-height: 1px; padding-right: 15px; padding-left: 15px; }
@media (min-width: 576px){
.col-sm-12{ -webkit-box-flex: 0; max-width: 100%; }
}
.form-group{ margin-bottom: 1rem; }
.btn{ display: inline-block; font-weight: 400; text-align: center; white-space: nowrap; vertical-align: middle; -webkit-user-select: none; border: 1px solid transparent; padding: 0.5rem 0.75rem; font-size: 1rem; line-height: 1.25; border-top-left-radius: 0.25rem; border-top-right-radius: 0.25rem; border-bottom-right-radius: 0.25rem; border-bottom-left-radius: 0.25rem; transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; }
.collapse{ display: none; }
 .dropdown{ position: relative; }
.dropdown-toggle::after{ display: inline-block; width: 0px; height: 0px; margin-left: 0.255em; vertical-align: 0.255em; content: ''; border-top-width: 0.3em; border-top-style: solid; border-right-width: 0.3em; border-right-style: solid; border-right-color: transparent; border-left-width: 0.3em; border-left-style: solid; border-left-color: transparent; }
.dropdown-menu{ position: absolute; top: 100%; left: 0px; z-index: 1000; display: none; float: left; min-width: 10rem; padding: 0.5rem 0px; margin: 0.125rem 0px 0px; font-size: 1rem; color: rgb(33, 37, 41); text-align: left; list-style: none; background-color: rgb(255, 255, 255); background-clip: padding-box; border: 1px solid rgba(0, 0, 0, 0.14902); border-top-left-radius: 0.25rem; border-top-right-radius: 0.25rem; border-bottom-right-radius: 0.25rem; border-bottom-left-radius: 0.25rem; }
.nav{ display: -webkit-box; padding-left: 0px; margin-bottom: 0px; list-style: none; }
.navbar{ position: relative; padding: 0.5rem 1rem; }
.navbar, .navbar > .container-fluid{ display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: justify; }
.navbar-nav{ display: -webkit-box; -webkit-box-orient: vertical; -webkit-box-direction: normal; padding-left: 0px; margin-bottom: 0px; list-style: none; }
.navbar-nav .dropdown-menu{ position: static; float: none; }
.navbar-collapse{ -webkit-box-align: center; }
.clearfix::after{ display: block; clear: both; content: ''; }
.sr-only{ position: absolute; width: 1px; height: 1px; padding: 0px; overflow: hidden; clip: rect(0px 0px 0px 0px); white-space: nowrap; border: 0px; }
#logo{ margin: 10px auto 5px; width: 500px; max-width: 100%; display: none; text-align: center; padding: 20px 30px; }
 .icon-menu-fixed{ top: 7px; right: 15px; position: absolute; width: auto; margin: 0px; }
.icon-menu-fixed li, .mobile-logo{ display: inline-block; }
.mobile-logo{ line-height: 50px; color: rgb(74, 163, 152); margin: 0px auto; width: 100%; text-align: center; }
.fa-icon, .mobile-logo span{ color: rgb(60, 127, 120); }
.fa-icon{ font-size: 26px; background-image: none; border: 0px; line-height: 1; padding: 0px; display: inline-block; background-position: initial initial; background-repeat: initial initial; }
.fa-icon i{ padding: 5px; }
.cart, .search-block{ display: inline-block; }
.cart-icon, .search-toggle{ display: block; position: relative; float: right; }
@media (min-width: 768px){
#logo{ display: block; }
.mobile-logo{ display: none; }
.icon-menu-fixed{ top: 3px; }
.search-block{ float: right; display: inline-block; }
}
.navbar-default{ background-color: rgb(255, 255, 255); border: none; margin-bottom: 0px; }
.navbar-default .navbar-collapse{ max-height: 100%; background-image: linear-gradient(rgb(145, 205, 197), rgb(255, 204, 153)); background-position: initial initial; background-repeat: initial initial; }
.navbar-default .navbar-nav{ float: left; }
.navbar-default .navbar-nav.inline{ display: inline-block; width: 100%; margin: auto; }
.navbar-default .navbar-nav > li > a{ width: 100%; color: rgb(60, 127, 120); font-size: 20px; padding: 20px 25px; transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; display: inline-block; }
.navbar-default .navbar-nav > li > a.cart-icon{ padding: 0px; font-size: 26px; }
.navbar-default .navbar-toggle .icon-bar{ background-color: rgb(60, 127, 120); }
.navbar-nav > li > a{ text-align: center; text-transform: lowercase; }
.navbar-toggle{ border: 0px; position: absolute; margin-left: 15px; }
.dropdown-menu{ text-align: center; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; border: 1px solid rgb(198, 229, 225); }
.custom-user-menu .user-dropdown{ display: none; }
@media (min-width: 768px){
 .custom-user-menu .user-dropdown{ display: block; }
.navbar-default .navbar-nav > li > a{ padding: 10px 15px; color: rgb(60, 127, 120); }
.navbar-default .navbar-nav.inline:first-of-type{ margin-left: -15px; }
.navbar-nav{ float: none; }
.navbar-default .navbar-nav.inline{ width: auto; }
.navbar-default{ text-align: center; }
.navbar-default .navbar-collapse{ background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial; }
#secondary-menu{ display: none; }
}
@media (min-width: 992px){
.mobile-logo{ display: none; }
}
.overlay{ background-image: linear-gradient(rgba(145, 205, 197, 0.901961), rgba(255, 204, 153, 0.901961)); position: absolute; top: 0px; right: 0px; left: 0px; bottom: 0px; background-position: initial initial; background-repeat: initial initial; }
.overlay .close{ position: absolute; top: 15px; right: 15px; }
.overlay .close i{ font-size: 36px; color: rgb(255, 204, 153); }
.search-container-wrapper{ width: auto; }
.search-container{ display: -webkit-box; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-box-pack: center; -webkit-box-align: center; text-align: center; background-color: rgba(18, 23, 56, 0.901961); background-position: initial initial; background-repeat: initial initial; }
.js .search-container{ position: fixed; z-index: 1000; top: 0px; left: 0px; width: 100%; height: 100vh; }
.js .search-container .btn{ position: absolute; width: 1px; height: 1px; padding: 0px; overflow: hidden; clip: rect(0px 0px 0px 0px); white-space: nowrap; border: 0px; }
.btn--search-close{ font-size: 2em; position: absolute; top: 1.25em; right: 1.25em; display: none; }
.js .btn--search-close{ display: block; }
.search__form{ margin: 5em 0px; }
.search__input{ font-family: inherit; font-size: 10vw; line-height: 1; display: inline-block; box-sizing: border-box; width: 75%; padding: 0.05em 0px; color: rgb(51, 51, 51); border: 0px; background-color: transparent; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; -webkit-appearance: none; background-position: initial initial; background-repeat: initial initial; }
.search__info{ font-size: 90%; font-weight: 700; display: block; width: 75%; margin: 0px auto; padding: 0.85em 0px; text-align: right; color: rgb(51, 51, 51); }
.search__related{ display: -webkit-box; width: 75%; pointer-events: none; right: 100%; position: relative; }
.search__suggestion{ width: 50%; text-align: left; }
.search__suggestion:nth-child(2){ margin: 0px 3em; }
.search__suggestion h3{ font-size: 1.35em; margin: 0px; }
.search__suggestion h3::before{ content: ⇾; display: inline-block; padding: 0px 0.5em 0px 0px; }
.search__suggestion p{ font-size: 1.15em; line-height: 1.4; margin: 0.75em 0px 0px; }
.js .search-container{ pointer-events: none; opacity: 0; transition: opacity 0.5s; -webkit-transition: opacity 0.5s; }
.btn--search-close{ opacity: 0; -webkit-transform: scale3d(0.8, 0.8, 1); cursor: pointer; }
.js .search__form{ opacity: 0; -webkit-transform: scale3d(0.8, 0.8, 1); }
.search__suggestion{ opacity: 0; -webkit-transform: translate3d(0px, -30px, 0px); pointer-events: auto; }
@media screen and (max-width: 40em){
.search__form{ margin: 5em 0px 1em; }
.btn--search-close{ font-size: 1.25em; top: 1.5em; right: 1.5em; }
.search__info{ text-align: left; }
.search__suggestion{ font-size: 80%; width: 100%; }
.search__suggestion:nth-child(2){ display: none; }
}
.ajax-shopping-cart-wrapper{ width: auto; }
.cart-container{ display: -webkit-box; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-box-pack: center; -webkit-box-align: center; text-align: center; background-color: rgba(18, 23, 56, 0.901961); background-position: initial initial; background-repeat: initial initial; }
.js .cart-container{ position: fixed; z-index: 1000; top: 0px; left: 0px; width: 100%; height: 100vh; }
.btn--cart-close{ font-size: 2em; position: absolute; top: 1.25em; right: 1.25em; display: none; cursor: pointer; }
.js .btn--cart-close{ display: block; }
.js .cart-container{ pointer-events: none; opacity: 0; }
.btn--cart-close{ opacity: 0; -webkit-transform: scale3d(0.8, 0.8, 1); }
@media screen and (max-width: 40em){
.btn--cart-close{ font-size: 1.25em; top: 1.5em; right: 1.5em; }
}
.cart-teaser{ color: rgb(51, 51, 51); z-index: 10; min-width: 60%; }
.cart-teaser .empty-shopping-cart{ font-size: 6vw; }
.view-marquee .flexslider{ border: 0px; margin: 0px 0px 15px; }
img{ width: auto; max-width: 100%; height: auto; }
ul.inline li{ padding: 0px; }
.region-content{ max-width: 1200px; margin: auto; }
.front .region-content{ max-width: 100%; }
@media (min-width: 768px){
#main-wrapper{ margin-top: 0px; }
}