*{ box-sizing: border-box; }
html{ font-family: sans-serif; line-height: 1.15; -webkit-tap-highlight-color: transparent; }
 nav{ display: block; }
body{ margin: 0px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-size: 1rem; font-weight: 400; line-height: 1.5; color: rgb(33, 37, 41); text-align: left; background-color: rgb(255, 255, 255); }
h1, h3{ margin-top: 0px; margin-bottom: 0.5rem; }
p{ margin-top: 0px; margin-bottom: 1rem; }
 ul{ margin-bottom: 1rem; }
 ul{ margin-top: 0px; }
 ul ul{ margin-bottom: 0px; }
a{ color: rgb(0, 123, 255); text-decoration: none; background-color: transparent; }
a:not([href]):not([tabindex]){ color: inherit; text-decoration: none; }
img{ vertical-align: middle; border-style: none; }
 a, button, input:not([type="range"]){ }
button{ border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; }
button, input{ margin: 0px; font-family: inherit; font-size: inherit; line-height: inherit; }
button, input{ overflow: visible; }
button{ text-transform: none; }
 [type="submit"], button, html [type="button"]{ -webkit-appearance: button; }
[type="search"]{ outline-offset: -2px; -webkit-appearance: none; }
.fa{ display: inline-block; font-style: normal; font-variant: normal; font-weight: normal; line-height: 1; font-family: FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; }
.pull-right{ float: right; }
.fa-search::before{ content: ; }
.fa-user::before{ content: ; }
.fa-times::before{ content: ; }
.fa-shopping-cart::before{ content: ; }
.sr-only{ position: absolute; width: 1px; height: 1px; padding: 0px; margin: -1px; overflow: hidden; clip: rect(0px 0px 0px 0px); border: 0px; }
body{ font-family: quicksand, Verdana, Tahoma, sans-serif; }
#logo{ margin: 10px auto 5px; width: 500px; max-width: 100%; display: none; text-align: center; padding: 20px 30px; }
 .icon-menu-fixed{ top: 7px; right: 15px; position: absolute; width: auto; margin: 0px; }
.icon-menu-fixed li, .mobile-logo{ display: inline-block; }
.mobile-logo{ line-height: 50px; color: rgb(74, 163, 152); margin: 0px auto; width: 100%; text-align: center; }
.fa-icon, .mobile-logo span{ color: rgb(60, 127, 120); }
.fa-icon{ font-size: 1.625rem; background-image: none; border: 0px; line-height: 1; padding: 0px; display: inline-block; background-position: initial initial; background-repeat: initial initial; }
.fa-icon i{ padding: 5px; }
.cart, .search-block{ display: inline-block; }
.cart-icon, .search-toggle{ display: block; position: relative; float: right; }
@media (min-width: 768px){
#logo{ display: block; }
.mobile-logo{ display: none; }
.icon-menu-fixed{ top: 3px; }
.search-block{ float: right; display: inline-block; }
}
.navbar-default{ background-color: rgb(255, 255, 255); border: none; margin-bottom: 0px; }
.navbar-default .navbar-collapse{ max-height: 100%; background-image: linear-gradient(rgb(145, 205, 197), rgb(255, 204, 153)); background-position: initial initial; background-repeat: initial initial; }
.navbar-default .navbar-nav{ float: left; }
.navbar-default .navbar-nav.inline{ display: inline-block; width: 100%; margin: auto; }
.navbar-default .navbar-nav > li > a{ width: 100%; color: rgb(60, 127, 120); font-size: 1.25rem; padding: 20px 25px; transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; display: inline-block; }
.navbar-default .navbar-nav > li > a.cart-icon{ padding: 0px; font-size: 1.625rem; }
.navbar-default .navbar-nav > .active > a{ color: rgb(51, 51, 51); background-color: transparent; background-position: initial initial; background-repeat: initial initial; }
.navbar-default .navbar-toggle .icon-bar{ background-color: rgb(60, 127, 120); }
.navbar-nav > li > a{ text-align: center; text-transform: lowercase; }
.navbar-toggle{ border: 0px; position: absolute; margin-left: 15px; }
.dropdown-menu{ text-align: center; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; border: 1px solid rgb(198, 229, 225); }
.custom-user-menu .user-dropdown{ display: none; }
@media (min-width: 768px){
 .custom-user-menu .user-dropdown{ display: block; }
.navbar-default .navbar-nav > li > a{ padding: 10px 15px; color: rgb(60, 127, 120); }
.navbar-default .navbar-nav > .active > a{ background-color: transparent; background-position: initial initial; background-repeat: initial initial; }
.navbar-default .navbar-nav.inline:first-of-type{ margin-left: -15px; }
.navbar-nav{ float: none; }
.navbar-default .navbar-nav.inline{ width: auto; }
.navbar-default{ text-align: center; }
.navbar-default .navbar-collapse{ background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial; }
#secondary-menu{ display: none; }
}
@media (min-width: 992px){
.mobile-logo{ display: none; }
}
.overlay{ background-image: linear-gradient(rgba(145, 205, 197, 0.901961), rgba(255, 204, 153, 0.901961)); position: absolute; top: 0px; right: 0px; left: 0px; bottom: 0px; background-position: initial initial; background-repeat: initial initial; }
.overlay .close{ position: absolute; top: 15px; right: 15px; }
.overlay .close i{ font-size: 2.25rem; color: rgb(255, 204, 153); }
.search-container-wrapper{ width: auto; }
.search-container{ display: -webkit-box; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-box-pack: center; -webkit-box-align: center; text-align: center; background-color: rgba(18, 23, 56, 0.901961); background-position: initial initial; background-repeat: initial initial; }
.js .search-container{ position: fixed; z-index: 2; top: 0px; left: 0px; width: 100%; height: 100vh; }
.js .search-container .btn{ position: absolute; width: 1px; height: 1px; padding: 0px; margin: -1px; overflow: hidden; clip: rect(0px 0px 0px 0px); border: 0px; }
.btn--search-close{ font-size: 2rem; position: absolute; top: 1.25em; right: 1.25em; display: none; }
.js .btn--search-close{ display: block; }
.search__form{ margin: 5em 0px; }
.search__input{ font-family: inherit; font-size: 10vw; line-height: 1; display: inline-block; box-sizing: border-box; width: 75%; padding: 0.05em 0px; color: rgb(51, 51, 51); border: 0px; background-color: transparent; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; -webkit-appearance: none; background-position: initial initial; background-repeat: initial initial; }
.search__info{ font-size: 90%; font-weight: 700; display: block; width: 75%; margin: 0px auto; padding: 0.85em 0px; text-align: right; color: rgb(51, 51, 51); }
.search__related{ display: -webkit-box; width: 75%; pointer-events: none; right: 100%; position: relative; }
.search__suggestion{ width: 50%; text-align: left; }
.search__suggestion:nth-child(2){ margin: 0px 3em; }
.search__suggestion h3{ font-size: 1.35rem; margin: 0px; }
.search__suggestion h3::before{ content: ⇾; display: inline-block; padding: 0px 0.5em 0px 0px; }
.search__suggestion p{ font-size: 1.15rem; line-height: 1.4; margin: 0.75em 0px 0px; }
.js .search-container{ pointer-events: none; opacity: 0; transition: opacity 0.5s; -webkit-transition: opacity 0.5s; }
.btn--search-close{ opacity: 0; -webkit-transform: scale3d(0.8, 0.8, 1); cursor: pointer; }
.js .search__form{ opacity: 0; -webkit-transform: scale3d(0.8, 0.8, 1); }
.search__suggestion{ opacity: 0; -webkit-transform: translate3d(0px, -30px, 0px); pointer-events: auto; }
@media screen and (max-width: 40em){
.search__form{ margin: 5em 0px 1em; }
.btn--search-close{ font-size: 1.25rem; top: 1.5em; right: 1.5em; }
.search__info{ text-align: left; }
.search__suggestion{ font-size: 80%; width: 100%; }
.search__suggestion:nth-child(2){ display: none; }
}
.ajax-shopping-cart-wrapper{ width: auto; }
.cart-container{ display: -webkit-box; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-box-pack: center; -webkit-box-align: center; text-align: center; background-color: rgba(18, 23, 56, 0.901961); background-position: initial initial; background-repeat: initial initial; }
.js .cart-container{ position: fixed; z-index: 2; top: 0px; left: 0px; width: 100%; height: 100vh; }
.btn--cart-close{ font-size: 2rem; position: absolute; top: 1.25em; right: 1.25em; display: none; cursor: pointer; }
.js .btn--cart-close{ display: block; }
.js .cart-container{ pointer-events: none; opacity: 0; }
.btn--cart-close{ opacity: 0; -webkit-transform: scale3d(0.8, 0.8, 1); }
@media screen and (max-width: 40em){
.btn--cart-close{ font-size: 1.25rem; top: 1.5em; right: 1.5em; }
}
.cart-teaser{ color: rgb(51, 51, 51); z-index: 1; min-width: 60%; }
.cart-teaser .empty-shopping-cart{ font-size: 6vw; }
.tile{ position: relative; padding-top: 15px; border-bottom-width: 0.5px; border-bottom-style: solid; border-bottom-color: rgb(238, 238, 238); padding-bottom: 15px; }
.tile a, .tile h3{ text-align: center; }
.tile h3{ margin-top: 11px; }
@media (min-width: 480px){
.tile{ display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: center; }
.tile .img, .tile .title{ float: left; display: inline; }
.tile .img, .tile .title{ -webkit-box-flex: 1; }
.tile .title a, .tile h3{ text-align: left; }
.tile h3{ margin-top: 0px; padding-left: 15px; }
.tile.product_display .add-to-cart-block, .tile.product_display .add-to-cart-block .form-submit, .tile.product_display .field-name-field-product, .tile.product_display .price{ width: auto; margin-bottom: 0px; display: inline-block; }
.tile.product_display h3{ text-align: center; }
}
@media (min-width: 768px){
.tile{ height: 100%; -webkit-box-orient: vertical; -webkit-box-direction: normal; }
.tile .title{ -webkit-box-flex: 1; }
.tile .title a, .tile h3{ text-align: center; }
.tile.product_display .price{ display: block; }
}
.add-to-cart-block{ border: 0px; font-size: 1.25rem; margin-bottom: 15px; }
.add-to-cart-block .form-submit{ padding: 6px; width: 100%; }
@media (min-width: 768px){
.add-to-cart-block > div{ display: inline-block; }
.add-to-cart-block .form-submit{ font-size: 1rem; width: auto; margin-bottom: 0px; }
}
.view-product-type-taxonomy{ text-align: center; }
.view-product-type-taxonomy .active{ color: rgb(36, 75, 71); }
.view-product-type-taxonomy .views-row{ text-align: center; }
@media (min-width: 480px){
.view-product-type-taxonomy .views-row{ display: inline-block; text-transform: lowercase; font-size: 1.25rem; margin: 0px 25px; }
}
@media (min-width: 768px){
.view-product-type-taxonomy .views-row{ display: block; text-align: center; margin: 10px 0px; }
}
.js .view-shop .views-row{ opacity: 0; }
.view-shop .view-content{ width: 100%; display: -webkit-box; -webkit-box-orient: horizontal; -webkit-box-direction: normal; }
.view-shop .title{ text-align: center; }
@media (min-width: 480px){
.view-shop a{ text-align: left; padding-left: 10px; }
}
@media (min-width: 768px){
.view-shop a{ padding-left: 0px; text-align: center; }
}
img{ width: auto; max-width: 100%; height: auto; }
.alert-strip, .navbar-default, .panel-col, .region, .row{ min-width: 100%; }
#page-title{ text-align: center; }
ul.inline li{ padding: 0px; }
.region-content{ max-width: 1200px; margin: auto; }
.form-submit{ border: 0px; text-align: center; width: 100%; text-transform: lowercase; background-color: rgb(145, 205, 197); margin-bottom: 10px; color: rgb(51, 51, 51); border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; background-position: initial initial; background-repeat: initial initial; }
@media (min-width: 768px){
#main-wrapper{ margin-top: 0px; }
 .form-submit{ width: auto; display: inline-block; }
}